@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #4257b2;
    padding: 0.5rem 1rem;
    z-index: 1000;
}

.navbar .navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #c0daf3;
    font-size: 0.8rem;
    padding: 0 0.8rem;
    font-weight: 600;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active {
    color: #fff;
}
#navbarSupportedContent > button.log-in.btn.btn-link.btn-sm.waves-effect.waves-light {
    color: #c0daf3;
    text-decoration: none;
    text-transform: none;
    font-size: 0.8rem;
    font-weight: 600;
}

#navbarSupportedContent > button.log-in.btn.btn-link.btn-sm.waves-effect.waves-light:hover{
    color: #fff;
}

#navbarSupportedContent > button.sign-up.btn.btn-sm.waves-effect.waves-light {
    background: #ffdc62;
    text-decoration: none;
    text-transform: none;
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 8px;
    color: #4257B2;
}

#navbarSupportedContent > button.sign-up.btn.btn-sm.waves-effect.waves-light:hover{
    background: #f5ab4c;
}

/*end of header*/

.welcome{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3b4c9b;
}

.welcome .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.welcome .slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.welcome .slides input {
    display: none;
}

.welcome .slide {
    width: 20%;
    transition: 2s;
}

.welcome .slide img{
    width: 800px;
    height: 500px;
}

/*manual slide nav*/
.welcome .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.welcome .navigation-manual .manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.welcome .navigation-manual .manual-btn:not(:last-child){
    margin-right: 40px;
}

.welcome .navigation-manual .manual-btn:hover{
    background: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}

/*automatic nav*/

.welcome .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.welcome .navigation-auto div{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.welcome .navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
    background: #fff;
}
#radio2:checked ~.navigation-auto .auto-btn2{
    background: #fff;
}
#radio3:checked ~.navigation-auto .auto-btn3{
    background: #fff;
}

.welcome .text h1{
    font-size: 2.2rem;
    color: #fff;
    margin-top: 100px;
    font-weight: 700;
    line-height: 3rem;
}

.welcome .text p{
    color: #fff;
    margin-top: 50px;
    font-size: 1.5rem;
}

.welcome .text button{
    background: #3ccfcf;
    font-size: 1.2rem;
    padding: 0.8rem;
    text-transform: none;
    color: #fff;
    margin-top: 40px;
    font-weight: 500;
    border-radius: 5px;
}

.welcome .text button:hover{
    background: #28a7a7;
}

.summary p{
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.summary p span{
    transition: 0.5s;
}

.summary p:hover span{
    margin-right: 15px;
    margin-left: 15px;
}

.summary p:hover span{
    font-size: 2rem;
    color: #f5ab4c;
    text-shadow: 0 0 10px #f5c484,
                0 0 20px #f5c484,
                0 0 40px #f5c484,
                0 0 80px #f5c484,
                0 0 120px #f5c484,
                0 0 160px #f5c484;
}

.intro {
    padding-top: 50px;
}

.intro .content2, .sec-intro .content3{
    padding-top: 50px;
}

.intro img{
    width: 500px;
    height: 500px;
}

.intro .row .text{
    padding-top: 50px;
}

.intro .text h5{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 40px;
}

.intro .text p{
    line-height: 2rem;
    font-size: 1.3rem;
}

.areas {
    padding-top: 50px;
    text-align: center;
}

.areas h2 {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 30px;
    background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

.areas h2:hover{
    background-position: -100%;
}

.areas .image__img{
    display: block;
    width: 100%;
}

.areas .image-overlay{
    position:absolute;
    top: 0%;
    left: 10;
    width: 92%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.areas .image-overlay:hover{
    opacity: 1;
}

.areas .image-title{
    font-size: 2em;
    font-weight: bold;
}

body > section.areas.my-5 > div > div:nth-child(n) > div:nth-child(n) > img {
    width: 500px;
    height: 200px;
    object-fit: cover;
}



footer{
    background: #4257b2;
}