/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  /*===== Colors =====*/
  --first-color: #cedaf3;
  --first-color-dark: #7b89c9;
  --first-color-darken: #4257b2;
  --white-color: #FCF8F8;
  /*===== Font and typography =====*/
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --normal-font-size: .938rem;
  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 5rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

h1, p, ul {
  margin: 0;
}

ul {
  padding-top: 10px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  background-color: #4257b2;
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

header {
  max-width: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color-darken);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    transition: .5s;
  }
}

.nav__close {
  position: absolute;
  top: .75rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 100px;
}

.nav__list {
  margin-right: 100px;
}

.nav__close, .nav__link, .nav__toggle {
  color: var(--first-color);
}

.nav__link:hover {
  color: #fff;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.container{
  margin-top: 60vh;
}

.container h1 {
  margin-top: 30vh;
}

@media screen and (max-aspect-ratio: 9/16) {
  .container {
    margin-top: 50px;
    max-height: 60%;
  }

  .container h1 {
    font-size: 2rem;
    margin-top: 30vh;
  }

  .Hangman-word {
    letter-spacing: 0.7em;
    font-size: 2rem;
  }
}
